<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="UTF-8">
<title>Orders</title>
</head>

<div layout:fragment="content" th:remove="tag">
	<h1>Пользователи</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
		</tr>
		<th:block th:each="user : ${users}">
			<tr>
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
			</tr>
		</th:block>
	</table>
</div>

</html>